<div class="app__content-loading" *ngIf="isLoading">
    <p>Loading...</p>
</div>
<div *ngIf="!isLoading">
    <div class="app__content-main">
        <div *ngIf="currentWeather">
            <p class="city">{{currentWeather.city}}</p>
            <p>{{currentWeather.curDate.getDate().toString().padStart(2, '0') + ' / ' +
                currentWeather.curDate.getMonth().toString().padStart(2, '0') + ' /' +
                currentWeather.curDate.getFullYear()}}</p>
            <p>{{currentWeather.curDate.getHours().toString().padStart(2, '0') + ':' +
                currentWeather.curDate.getMinutes().toString().padStart(2, '0')}}</p>
            <p class="temparature">{{currentWeather.curTemp + '°'}}</p>
            <p>{{currentWeather.maxTemp + '° / ' + currentWeather.minTemp + '°'}}</p>
            <p class="description">partly cloudy</p>
        </div>
    </div>
    <div class="dark-card dark-card-today" *ngIf="hoursWeather">
        <div class="item" *ngFor="let item of hoursWeather">
            <p>{{item.hour.slice(11)}}</p>
            <p class="material-symbols-outlined item__img">partly_cloudy_day</p>
            <p>{{item.temp + '°'}}</p>
            <div class="item__rain">
                <p class="material-symbols-outlined item__rain-drop">water_drop</p>
                <p>{{item.precipitation + ' %'}}</p>
            </div>
        </div>
    </div>
    <div class="dark-card dark-card-days">
        <div class="item">
            <p>today</p>
            <p>17°/ 9°</p>
        </div>
        <div class="item">
            <p>today</p>
            <div class="item__rain">
                <p class="material-symbols-outlined item__rain-drop">water_drop</p>
                <p>1%</p>
            </div>
            <p class="material-symbols-outlined item__img">partly_cloudy_day</p>
            <p>17°/ 9°</p>
        </div>
        <div class="item">
            <p>today</p>
            <div class="item__rain">
                <p class="material-symbols-outlined item__rain-drop">water_drop</p>
                <p>1%</p>
            </div>
            <p class="material-symbols-outlined item__img">partly_cloudy_day</p>
            <p>17°/ 9°</p>
        </div>
        <div class="item">
            <p>today</p>
            <div class="item__rain">
                <p class="material-symbols-outlined item__rain-drop">water_drop</p>
                <p>1%</p>
            </div>
            <p class="material-symbols-outlined item__img">partly_cloudy_day</p>
            <p>17°/ 9°</p>
        </div>
        <div class="item">
            <p>today</p>
            <div class="item__rain">
                <p class="material-symbols-outlined item__rain-drop">water_drop</p>
                <p>1%</p>
            </div>
            <p class="material-symbols-outlined item__img">partly_cloudy_day</p>
            <p>17°/ 9°</p>
        </div>
        <div class="item">
            <p>today</p>
            <div class="item__rain">
                <p class="material-symbols-outlined item__rain-drop">water_drop</p>
                <p>1%</p>
            </div>
            <p class="material-symbols-outlined item__img">partly_cloudy_day</p>
            <p>17°/ 9°</p>
        </div>
        <div class="item">
            <p>today</p>
            <div class="item__rain">
                <p class="material-symbols-outlined item__rain-drop">water_drop</p>
                <p>1%</p>
            </div>
            <p class="material-symbols-outlined item__img">partly_cloudy_day</p>
            <p>17°/ 9°</p>
        </div>
        <div class="item">
            <p>today</p>
            <div class="item__rain">
                <p class="material-symbols-outlined item__rain-drop">water_drop</p>
                <p>1%</p>
            </div>
            <p class="material-symbols-outlined item__img">partly_cloudy_day</p>
            <p>17°/ 9°</p>
        </div>
        <div class="item">
            <p>today</p>
            <div class="item__rain">
                <p class="material-symbols-outlined item__rain-drop">water_drop</p>
                <p>1%</p>
            </div>
            <p class="material-symbols-outlined item__img">partly_cloudy_day</p>
            <p>17°/ 9°</p>
        </div>
    </div>
</div>