<div class="app__background"></div>
<div class="app__content">
  <div class="app__content-main">
    <p class="city">New York</p>
    <p class="temparature">35°</p>
    <p class="description">partly cloudy</p>
  </div>
  <div class="dark-cart">
    <p class="dark-cart__title">tempetaure</p>
    <div class="dark-cart__element">
      <p>Fri</p>
      <p class="img"><span class="material-symbols-outlined">partly_cloudy_day</span></p>
      <p>35°</p>
    </div>
    <div class="dark-cart__element">
      <p>Fri</p>
      <p class="img"><span class="material-symbols-outlined">partly_cloudy_day</span></p>
      <p>35°</p>
    </div>
    <div class="dark-cart__element">
      <p>Fri</p>
      <p class="img"><span class="material-symbols-outlined">partly_cloudy_day</span></p>
      <p>35°</p>
    </div>
    <div class="dark-cart__element">
      <p>Fri</p>
      <p class="img"><span class="material-symbols-outlined">partly_cloudy_day</span></p>
      <p>35°</p>
    </div>
    <div class="dark-cart__element">
      <p>Fri</p>
      <p class="img"><span class="material-symbols-outlined">partly_cloudy_day</span></p>
      <p>35°</p>
    </div>
  </div>
  <div class="dark-cart">
    <p class="dark-cart__title">rain</p>
    <div class="dark-cart__element">
      <p>Fri</p>
      <p class="img"><span class="material-symbols-outlined">partly_cloudy_day</span></p>
      <p>35°</p>
    </div>
    <div class="dark-cart__element">
      <p>Fri</p>
      <p class="img"><span class="material-symbols-outlined">partly_cloudy_day</span></p>
      <p>35°</p>
    </div>
    <div class="dark-cart__element">
      <p>Fri</p>
      <p class="img"><span class="material-symbols-outlined">partly_cloudy_day</span></p>
      <p>35°</p>
    </div>
    <div class="dark-cart__element">
      <p>Fri</p>
      <p class="img"><span class="material-symbols-outlined">partly_cloudy_day</span></p>
      <p>35°</p>
    </div>
    <div class="dark-cart__element">
      <p>Fri</p>
      <p class="img"><span class="material-symbols-outlined">partly_cloudy_day</span></p>
      <p>35°</p>
    </div>
  </div>
  <div class="dark-cart">
    <p class="dark-cart__title">wind</p>
    <div class="dark-cart__element">
      <p>Fri</p>
      <p class="img"><span class="material-symbols-outlined">partly_cloudy_day</span></p>
      <p>35°</p>
    </div>
    <div class="dark-cart__element">
      <p>Fri</p>
      <p class="img"><span class="material-symbols-outlined">partly_cloudy_day</span></p>
      <p>35°</p>
    </div>
    <div class="dark-cart__element">
      <p>Fri</p>
      <p class="img"><span class="material-symbols-outlined">partly_cloudy_day</span></p>
      <p>35°</p>
    </div>
    <div class="dark-cart__element">
      <p>Fri</p>
      <p class="img"><span class="material-symbols-outlined">partly_cloudy_day</span></p>
      <p>35°</p>
    </div>
    <div class="dark-cart__element">
      <p>Fri</p>
      <p class="img"><span class="material-symbols-outlined">partly_cloudy_day</span></p>
      <p>35°</p>
    </div>
  </div>
</div>
