@import '../mixins.scss';
@import '../colors.scss';

.app {
  display: flex;
  justify-content: center;
  
  &__background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: $almost-black;
    background-image: url(../assets/images/screen/main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__content {
    position: absolute;
    padding: 2em 1em;
    width: 100%;
  }
}

@media (min-width: 476px) {
  .app {
    &__content {
      width: 80%;
    }
  }
}

@media (min-width: 768px) {
  .app {
    &__content {
      width: 60%;
    }
  }
}

@media (min-width: 1200px) {
  .app {
    &__content {
      width: 40%;
    }
  }
}