@import './mixins.scss';
@import './colors.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  color: $almost-white;
}

app-root {
  min-height: 100vh;
}



